<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-item>
    <ion-avatar item-start>
      <img src="https://pts.wistron.com/~pts/dispatcher/account/account_photo.php?action=get_photo&to=get_user_photo&id={{myUID}}">
    </ion-avatar>
    <div class="user-block"><div class="user-info">My User ID: {{myUID}}</div>
      <div><button ion-button color="danger" (click)="logout()">Logout</button></div>
    </div>
  </ion-item>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SKIP_TUTORIAL_PAGE' | translate }}</ion-label>
        <ion-toggle formControlName="skipTutorial"></ion-toggle>
      </ion-item>

      <ion-item>
        <button ion-button color="danger" (click)="clearStorage()">Clear Storage</button>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION_LANG' | translate }}</ion-label>
        <ion-select formControlName="optionLang">
          <ion-option value="auto" checked="true">Auto</ion-option>
          <ion-option value="en">English</ion-option>
          <ion-option value="sc">简体中文 Simplified Chinese</ion-option>
          <ion-option value="tc">繁體中文 Traditional Chinese</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Server URL (Not yet!)</ion-label>
        <ion-input formControlName="serverUrl"></ion-input>
      </ion-item>

      <ion-item color="light">
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>