<!--
  Generated template for the SubordinatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SUB_TIMESHEET' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <!--
  <ion-refresher (ionRefresh)="clearCache($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  -->
  <ion-list>
    <ion-list-header>{{ 'DIRECT_MEMBERS' | translate }}</ion-list-header>
    <ion-item *ngFor="let member of myMembers">
      <ion-avatar item-start>
        <!--<img-loader src="http://10.43.146.37/~pts/dispatcher/account/account_photo.php?action=get_photo&to=get_user_photo&id={{member.id}}" useImg (load)="onImageLoad($event)"></img-loader>-->
        <img src="http://10.43.146.37/~pts/dispatcher/account/account_photo.php?action=get_photo&to=get_user_photo&id={{member.id}}">
      </ion-avatar>
      <div class="name-block">
        <h2><b>{{member.user.user_info.name}}</b></h2>
        <p>{{member.user.user_info.dept_name}}</p>
      </div>
      <div class="data-block">
        <div (click)="openWeek(week, member)" *ngFor="let week of member.user.data" class="data-item">
        <!--<button ion-button icon-only clear (click)="openWeek(week, member)" *ngFor="let week of member.user.data">-->
          <ion-icon name="ptsapp2-mad" [style.color]="week.color"></ion-icon>
        <!--</button>-->
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="showSubHeads">
    <ion-list-header>{{ 'DIRECT_HEADS' | translate }}</ion-list-header>
    <ion-item *ngFor="let member of subHeads">
      <!--<b>{{member.user.user_info.name}}</b> <span>{{member.user.user_info.dept_name}}</span>-->
      <ion-avatar item-start>
        <!--<img-loader src="http://10.43.146.37/~pts/dispatcher/account/account_photo.php?action=get_photo&to=get_user_photo&id={{member.id}}" useImg (load)="onImageLoad($event)"></img-loader>-->
        <img src="http://10.43.146.37/~pts/dispatcher/account/account_photo.php?action=get_photo&to=get_user_photo&id={{member.id}}">
      </ion-avatar>
      <div class="name-block">
        <h2><b>{{member.user.user_info.name}}</b></h2>
        <p>{{member.user.user_info.dept_name}}</p>
      </div>
      <div class="data-block">
        <div (click)="openWeek(week, member)" *ngFor="let week of member.user.data" class="data-item">
        <!--<button ion-button icon-only clear (click)="openWeek(week, member)" *ngFor="let week of member.user.data" class="data-item">-->
          <!--<ion-icon [name]="week.icon" [style.color]="week.color"></ion-icon>-->
          <ion-icon name="ptsapp2-mad" [style.color]="week.color"></ion-icon>
          <!--<img [src]='week.img'/>-->
        <!--</button>-->
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="showSubDepartments">
    <ion-list-header>{{ 'SUB_DEPARTMENTS' | translate }}</ion-list-header>
  </ion-list>
  <!--<ion-label>部門</ion-label>-->
  <div class="dept-container" *ngIf="showSubDepartments">
    <div class="dept" *ngFor="let dept of subDepartments.data" (click)="openDept(dept)">
      <img src="assets/img/user.png" /><div>{{dept.name}}</div>
    </div>
  </div>

</ion-content>
